/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.resultCard {
  position: relative;
  background: #FFFBEF;
  border: 2px solid #C9991D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 64px 52px 64px 120px;
  max-width: 420px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-transform: translate(-210px, 48px);
          transform: translate(-210px, 48px);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.resultCard .ic-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 8px;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.resultCard .ic-close:hover {
  background: #f5e6bd;
}

.resultCard .ic-close img {
  width: 100%;
  height: 100%;
}

.resultCard__title {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.resultCard__bmi {
  font-size: 80px;
  color: #0ABF57;
  line-height: 80px;
  font-family: "Quicksand";
  text-align: center;
  font-weight: 500;
}

.resultCard__status {
  text-align: center;
}

.resultCard__status__line {
  position: relative;
  background: #C4C4C4;
  height: 1px;
  top: -28px;
  z-index: -2;
}

.resultCard__status__text {
  display: inline-block;
  padding: 4px 6px;
  background: #FFFBEF;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.resultCard__comment {
  background: white;
  padding: 16px 24px;
  border: 1px solid #0ABF57;
  border-radius: 12px;
}

.resultCard__comment__text {
  font-size: 16px;
  line-height: 24px;
  color: #0ABF57;
  text-align: center;
}

.moveResult {
  -webkit-transform: translate(-56px, 48px);
          transform: translate(-56px, 48px);
}

.btnStart {
  cursor: pointer;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 64px;
  background: #C9991D;
  border: 2px solid #A97F13;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 12px rgba(201, 153, 29, 0.3);
          box-shadow: 0px 8px 12px rgba(201, 153, 29, 0.3);
  border-radius: 12px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.btnStart:focus {
  outline: 2px solid #C9991D;
  outline-offset: 4px;
  -webkit-transition: none;
  transition: none;
}

.btnStart:hover {
  background: #A97F13;
  border: 2px solid #84630D;
  -webkit-box-shadow: 0px 12px 20px rgba(201, 153, 29, 0.3);
          box-shadow: 0px 12px 20px rgba(201, 153, 29, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.history {
  padding-top: 48px;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.history__title__text {
  display: inline-block;
  font-size: 32px;
  line-height: 48px;
  padding: 4px 12px;
  background: #F5F2EA;
}

.history__title__line {
  height: 1px;
  background: #CCCCCC;
  position: relative;
  bottom: 24px;
  z-index: -2;
}

.history__content {
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 24px 0;
}

.history__content .history__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-shadow: inset 0px -1px 0px #ECECEC;
          box-shadow: inset 0px -1px 0px #ECECEC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__content .history__list:hover {
  background: #FFFBEF;
}

.history__content .history__list__status {
  padding: 8px 16px;
  background: #0ABF57;
  color: white;
  font-size: 18px;
  line-height: 24;
  height: 60px;
  border-radius: 12px;
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__content .history__list__status__text {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.history__list__bmi,
.history__list__height,
.history__list__weight,
.history__list__time {
  width: 96px;
  text-align: left;
}

.history__list__bmi__title,
.history__list__height__title,
.history__list__weight__title,
.history__list__time__title {
  font-size: 16px;
  line-height: 20px;
  color: #C9991D;
  margin-bottom: 8px;
}

.history__list__bmi__value,
.history__list__height__value,
.history__list__weight__value,
.history__list__time__value {
  font-size: 24px;
  line-height: 32px;
}

.history__list__time {
  width: 200px;
}

.history__list__bmi__value {
  color: #0ABF57;
}

.history__list__delete {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(234, 11, 11, 0.1);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.history__list__delete:hover {
  background: rgba(234, 11, 11, 0.15);
}

.history__list__delete .ic-delete {
  width: 18px;
  height: 18px;
}

* {
  font-family: "Quicksand", "Noto Sans TC";
}

body {
  background: #F5F2EA;
  font-family: "Noto Sans TC";
}

input[type=text] {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 400;
}

input:-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 400;
}

input::-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 400;
}

input::placeholder {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 400;
}

.maker {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 40px;
}

.maker .madeBy {
  font-size: 16px;
  line-height: 20;
  margin-right: 8px;
  color: #C9991D;
}

.maker .simon {
  font-size: 20px;
  line-height: 24;
}

.cal-Main {
  max-width: 530px;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 64px;
  margin-top: 10vh;
  z-index: 10;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-transform: translateX(210px);
          transform: translateX(210px);
}

.moveCal {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.headerBox__title {
  font-size: 42px;
  line-height: 64px;
  font-weight: 400;
}

.headerBox__title__en {
  font-family: "Quicksand";
  font-weight: 500;
  color: #C9991D;
  font-size: 32px;
  line-height: 40px;
}

.formHeight {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
}

.formHeight .heightLabel {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  line-height: 23px;
  color: #8D8D8D;
}

.formHeight .inputHeight {
  padding-left: 24px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.formHeight .inputHeight:focus {
  border: 3px solid #C9991D;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.formHeight__label {
  width: 80px;
  border-right: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
}

.formHeight__label__title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.formHeight__label__title__en {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #C9991D;
  text-align: center;
}

.formWeight {
  position: relative;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.formWeight .weightLabel {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 20px;
  line-height: 23px;
  color: #8D8D8D;
}

.formWeight .inputWeight {
  padding-left: 24px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.formWeight .inputWeight:focus {
  border: 3px solid #C9991D;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.formWeight__label {
  width: 80px;
  border-right: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
}

.formWeight__label__title {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.formWeight__label__title__en {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #C9991D;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 24px;
  padding-left: 24PX;
}

.mb8 {
  margin-bottom: 8px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb40 {
  margin-bottom: 40px;
}

.mr32 {
  margin-right: 32px;
}
/*# sourceMappingURL=all.css.map */