/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Quicksand", "Noto Sans TC";
}

body {
  background: #F5F2EA;
  font-family: "Noto Sans TC";
}

input[type=text] {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 24px;
}

input::-webkit-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
}

input:-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
}

input::-ms-input-placeholder {
  color: #BDBDBD;
  font-size: 24px;
}

input::placeholder {
  color: #BDBDBD;
  font-size: 24px;
}

.cal-Main {
  max-width: 640px;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 64px;
  margin: 0 auto;
  margin-top: 10vh;
  z-index: 10;
}

.headerBox__title {
  font-size: 42px;
  line-height: 64px;
  font-weight: bold;
}

.headerBox__title__en {
  font-family: "Quicksand";
  font-weight: 500;
  color: #C9991D;
  font-size: 32px;
  line-height: 40px;
}

.formHeight {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.formHeight .inputHeight {
  padding-left: 24px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.formHeight .inputHeight:focus {
  border: 3px solid #C9991D;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.formHeight__label {
  width: 80px;
  border-right: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
}

.formHeight__label__title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.formHeight__label__title__en {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #C9991D;
  text-align: center;
}

.formWeight {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.formWeight .inputWeight {
  padding-left: 24px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.formWeight .inputWeight:focus {
  border: 3px solid #C9991D;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.formWeight__label {
  width: 80px;
  border-right: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
}

.formWeight__label__title {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.formWeight__label__title__en {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #C9991D;
  text-align: center;
}

.btnStart {
  cursor: pointer;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 64px;
  background: #C9991D;
  border: 2px solid #A97F13;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 12px rgba(201, 153, 29, 0.3);
          box-shadow: 0px 8px 12px rgba(201, 153, 29, 0.3);
  border-radius: 12px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.btnStart:hover {
  background: #A97F13;
  border: 2px solid #84630D;
  -webkit-box-shadow: 0px 12px 20px rgba(201, 153, 29, 0.3);
          box-shadow: 0px 12px 20px rgba(201, 153, 29, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.mb8 {
  margin-bottom: 8px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb4 {
  margin-bottom: 4px;
}
/*# sourceMappingURL=all.css.map */