.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 24px;
    padding-left: 24PX;
}


.mb8 {
    margin-bottom: 8px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb40 {
    margin-bottom: 40px;
}

.mr32 {
    margin-right: 32px;
}