.history {
    padding-top: 48px;
    max-width: 880px;
    margin: 0 auto;

    &__title {
        font-size: 32px;
        line-height: 48px;
    }
}


.history__content {
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 24px 0;

    .history__list {
        display: flex;
        // height: 112px;
        padding-top: 24px;
        padding-bottom: 24px;
        box-shadow: inset 0px -1px 0px #ECECEC;
        align-items: center;

        &:hover {
            background: #FFFBEF;
        }

        &__status {
            padding: 8px 16px;
            background: $green;
            color: white;
            font-size: 18px;
            line-height: 24;
            // width: 60px;
            height: 60px;
            border-radius: 12px;
            margin-left: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__text {
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}



.history__list__bmi,
.history__list__height,
.history__list__weight,
.history__list__time {
    width: 96px;

    &__title {
        font-size: 16px;
        line-height: 20px;
        color: $yellow;
        margin-bottom: 8px;
    }

    &__value {
        font-size: 24px;
        line-height: 32px;
    }
}

.history__list__time {
    width: 140px;
}

.history__list__bmi {
    &__value {
        color: $green;
    }
}


.history__list__delete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgba(#EA0B0B, 0.1);

    .ic-delete {
        width: 18px;
        height: 18px;
    }
}