.resultCard {

    position: relative;
    background: #FFFBEF;
    border: 2px solid #C9991D;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 64px 52px 64px 120px;
    max-width: 440px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    transform: translate(-210px, 48px);
    transition: .3s all ease-in-out;

    .ic-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        right: 16px;
        border-radius: 8px;
        transition: .3s all;
        cursor: pointer;


        &:hover {
            background: lighten($yellow, 40%);
        }

        img {
            width: 100%;
            height: 100%;

        }

    }


    &__title {
        font-size: 24px;
        line-height: 40px;
        text-align: center;
    }

    &__bmi {
        font-size: 80px;
        color: $green;
        line-height: 80px;
        font-family: "Quicksand";
        text-align: center;
        font-weight: 500;
    }

    &__status {
        text-align: center;

        &__line {
            position: relative;
            background: #C4C4C4;
            height: 1px;
            top: -28px;
            z-index: -2;
        }

        &__text {
            display: inline-block;
            // max-width: 160px;
            // margin: 0 auto;
            padding: 4px 6px;
            background: #FFFBEF;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
        }
    }

    &__comment {
        background: white;
        padding: 16px 24px;
        border: 1px solid $green;
        border-radius: 12px;

        &__text {
            font-size: 16px;
            line-height: 24px;
            color: $green;
            text-align: center;
        }
    }
}

.moveResult {
    transform: translate(-56px, 48px);
}